<header class="sans-serif letter">
  <h1><a id="home" href="/">{{ site.data.description.letter-title }}</a></h1>
  <h2>
    <p>
      Hey Tiger,
      <br/><br/>
      Have you heard about Fintech? It’s the future of finance - where financial services are improved through technology. Over $24B have been invested in fintech since 2010, resulting in fintech aquisitons exceeding $25B in 2015 alone (<i>A.T. Kearney, 2015</i>) <i class="em em-open_mouth"></i>. As expected, may people have taken notice.
      <br/><br/>
      In fact, there are currently over 100,000 people on various social networks talking about it. We're sure you can guess, there’s a lot of <i class="em em-poop"></i>. A band is a group of people who share a common purpose. In this case, they teach fintech. We sorted through everyone and identified up to 20 rockstars per network who specialize in the industry, post the highest quality content, and contribute by teaching others about the <a href="https://twitter.com/hashtag/fintechboom" target="_blank">#fintechboom</a>.
      <br/><br/>
      We would like to celebrate these rockstars by making them accessible in almost any network you hangout in. If you’re even more interested in learning from a particular rockstar, <a class="typeform-share link" href="https://ceo4.typeform.com/to/tRjuHm" data-mode="2" target="_blank">leave a question</a> and based on interest we’ll setup an AMA.
      <br/><br/>
      We update our list monthly. This industry moves fast, don’t miss out. {% include newsletter.html %} can stay current by signing up for our newsletter where we highlight a rockstar and their work. We also summarize 3 of the top posts from our rockstars and sort them by complexity so there is something for beginners and experts!
      <br/><br/>
      Rock on,
      <br/>
      <a id="company" href="http://www.vesthq.com" target="_blank">The <b>Vest</b><b>HQ</b> Team</a>
    </p>
  </h2>
</header>
